// SPDX-FileCopyrightText: 2022 Devin Lin <devin@kde.org>
// SPDX-License-Identifier: CC0-1.0 

.mobile-main-button {
  padding: .75rem 1.2rem .75rem 1.2rem;
  background-color: hsla(200, 80%, 40%, 1.0);
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-feature-settings: normal;
  line-height: 1.5rem;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

.mobile-main-button:hover {
  background-color: hsla(200, 80%, 20%, 1.0);
}

.mobile-secondary-button {
  padding: .75rem 1.2rem .75rem 1.2rem;
  background-color: hsl(200, 90%, 80%);
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-feature-settings: normal;
  line-height: 1.5rem;
  color: hsla(200, 80%, 35%, 1.0);
  font-size: 16px;
  font-weight: 600;
}

.mobile-secondary-button:hover {
  background-color: hsl(200, 50%, 65%);
}

.mobile-button-shadow {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}