{{/*
  SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
  SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
  SPDX-FileCopyrightText: 2024 Devin Lin <devin@kde.org>
  SPDX-License-Identifier: LGPL-2.1-or-later
  */}}  

{{ define "main" }}
<main class="container p-0" role="main" style="max-width: 100% !important;">
  {{ partial "jumbotron" . }}

  <div class="content-width">
    {{ with .Content }}
    {{ . }}
    {{ end }}

    {{ if not .Params.nosubpage }}
    <div>
      {{- $pages := where .RegularPagesRecursive "Params.hidden" "ne" "true" }}
      {{- if ne .Site .Sites.Default }}
        {{ $pages = $pages | lang.Merge (where (index .AllTranslations 0).RegularPagesRecursive "Params.hidden" "ne" "true") }}
      {{- end }}
      {{- range (.Paginate $pages 10).Pages }}
      <div class="mb-5">
        <h3 class="mt-1"><a href="{{ .RelPermalink }}">{{ .Title | safeHTML }}</a></h3>
        <div class="text-lighter">
          {{ partial "i18n_date.html" . }}
          {{- with .Params.author -}}&emsp;|&emsp;{{ . }}{{- end -}}
          {{- if .Params.tags -}}
          &emsp;|&emsp;Tags:
          {{- range .Params.tags }}
          &nbsp;<a href="/tags/{{ . | urlize }}/">{{ . }}</a>
          {{- end -}}
          {{ end }}
        </div>
        <div class="post-entry mt-3">
          {{ if .Description }}
            {{ .Description }}
          {{ else }}
            {{ .Summary | plainify }}
          {{ end }}
          {{ if .Truncated }}
          <a href="{{ .RelPermalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>

    {{ template "_internal/pagination.html" . }}
    {{ end }}
  </div>
</main>
{{ end }}
