{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<section class="home" >
  <div class="container align-items-center">
    <div>
      <h2 class="heading mt-5 mt-md-0">{{ i18n "plasma-in-your-pocket" }}</h2>
      <h3 class="subheading">{{ .Site.Params.description }}</h3>
      <p class="header-buttons">
        <a href="/get/" class="mobile-main-button">{{ i18n "install" }}</a>
        <a href="/join/" class="mobile-secondary-button">{{ i18n "contribute" }}</a>
      </p>
    </div>
    <img src="/img/plasmaphone.png" class="" style="padding-left: 50px; padding-right: 50px; width: 600px">
  </div>
</section>

<section class="openup">
  <div class="container my-5">
    <h2 class="text-center grey-text">{{ i18n "openup" }}</h2>
    
    <p class="description-block">{{ i18n "opensource-phone" }}</p>
    <br />
    <p class="description-block">{{ i18n "qt-kf" }}</p>
    <div class="laptop-with-overlay mt-5 mb-3 mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
          <img class="img-fluid" src="https://kde.org/announcements/plasma/6/6.1.0/fullscreen_with_apps.png" alt="Plasma Desktop">
      </div>
      <img src="https://www.plasma-mobile.org/img/plasmaphone.png" alt="Plasma Mobile" style="bottom: 0; right: 25%; width: 25%" class="position-absolute">
    </div>
  </div>
  
  <div class="container" style="margin-bottom: 50px">
    <h2 class="text-center grey-text" style="margin-bottom: 30px;">{{ i18n "home.why" }}</h2>
    <p class="mx-auto description-block" style="max-width: 800px">{{ i18n "home.why.description" }}</p>
    <p class="mt-5 description-block">
      <a href="/apps/" class="mobile-main-button mobile-button-shadow">{{ i18n "applications" }}</a>
      <a href="/join/" class="mobile-secondary-button mobile-button-shadow">{{ i18n "contribute" }}</a>
    </p>
  </div>
</section>

<section class="features-section">
  <div class="container">
    
    <div class="feature wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2 class="grey-text">{{ i18n "kwin" }}</h2>
        <p class="grey-text">{{ i18n "wayland" }}</p>
      </div>
      <div>
        <img class="alignnone adapting me-0 me-md-5 my-4 my-md-0 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
      </div>
    </div>
    
    <div class="feature opensource flex-column flex-md-row">
      <div>
        <h2 class="grey-text">{{ i18n "opensource" }}</h2>
        <p class="me-0 me-md-5 grey-text">{{ i18n "parts" | markdownify }}</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
          <li><a href="https://modemmanager.org/" target="_blank">ModemManager</a></li>
          <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
        </ul>
      </div>
      <div>
        <img class="img-fluid my-4 my-md-0 adapting" src="/img/telephony.png" alt="telephony" width="840" height="1000" />
      </div>
    </div>
    
    <div class="feature mb-0 d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2 class="grey-text">{{ i18n "adapting" }}</h2>
        <p class="grey-text">{{ i18n "based" }}
      </div>
      <div>
        <img class="img-fluid adapting me-0 me-md-5 mt-4 mt-md-0 order-md-0" src="/img/schemes.png" alt="schemes" width="800" height="600" />
      </div>
    </div>
  </div>
</section>
{{ end }}
